<div class="row">
  <div class="col-xxxl-8">
    <div class="row">
      <div class="col-xxxl-8">
        <nb-card size="small">
          <nb-card-header>                  <h1>Overview</h1>
<br/>        
          </nb-card-header>
          <nb-card-body>
            <p class="text-indent">
              <strong>This application provide a general overview of all PowerCARD Web Service used in the project.
              It is inteded to be used as a tool to understand what is required by each web service also to built test harness
              to monitor system behavior under varying conditions and inputs/outputs.
              This application is described at a level that would enable HPS customers to understand busness rules
              that describe the activity and the process workflow and finally the input/output data exchanged within the rquest and response messages with 
              their prroperties, occurence and field description.</strong>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>