<div class="row">
  <div class="col-xxxl-8">
    <div class="row">
      <div class="col-xxxl-8">
        <nb-card size="small">
          <nb-card-header>
            <div class="name bold">Roboto</div>

            Article Example
          </nb-card-header>
          <nb-card-body>
            <h4>So what's About the grammar?</h4>
            <p class="text-indent">
              Far far away, behind the word mountains, far from the countries <strong>Vokalia</strong> and <strong>Consonantia</strong>,
              there live the blind texts. They live in <strong>Bookmarksgrove</strong>.
            </p>
            <p class="text-indent">
              A small <strong>river named Duden</strong> flows by their place and supplies it with the necessary regelialia.
              It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful
              Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line
              of blind text by the name of
              <a href="http://google.com" target="_blank">Lorem Ipsum</a> decided to leave for the far <strong>World of Grammar</strong>.
            </p>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

  </div>
</div>